.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #7f265b !important;
    border-color: #7f265b !important;
  }
  
  .ant-checkbox-checked:hover .ant-checkbox-inner {
    background-color: #7f265b !important;
    border-color: #7f265b !important;
  }